In [1]:
import os
import pandas as pd

In [2]:
# Step 1: Load all CSV files from the folder
folder_path = 'C:/Users/jizatt/Documents/Courses/FRE_501/futures_contracts/palm_forward'
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

In [3]:
# Step 2: Initialize the "palm_futures" DataFrame with the "Time" column from "CUF19"
palm_futures = pd.read_csv(os.path.join(folder_path, 'CUF19.csv'), usecols=['Time'], engine = "python", skipfooter=1)

palm_futures

           Time
0    01/31/2019
1    01/30/2019
2    01/29/2019
3    01/28/2019
4    01/25/2019
..          ...
588  09/28/2016
589  09/27/2016
590  09/26/2016
591  09/23/2016
592  09/22/2016

[593 rows x 1 columns]

In [4]:
# Step 3: Process and join data from other DataFrames
years = ['19', '20', '21', '22', '23']
months = ['f', 'g', 'h', 'j', 'k', 'm', 'n', 'q', 'u', 'v', 'x', 'z']

for year in years:
    for month in months:
        name = f'cu{month}{year}'
        file_name = f'{name}.csv'
        
        print(file_name)

cuf19.csv
cug19.csv
cuh19.csv
cuj19.csv
cuk19.csv
cum19.csv
cun19.csv
cuq19.csv
cuu19.csv
cuv19.csv
cux19.csv
cuz19.csv
cuf20.csv
cug20.csv
cuh20.csv
cuj20.csv
cuk20.csv
cum20.csv
cun20.csv
cuq20.csv
cuu20.csv
cuv20.csv
cux20.csv
cuz20.csv
cuf21.csv
cug21.csv
cuh21.csv
cuj21.csv
cuk21.csv
cum21.csv
cun21.csv
cuq21.csv
cuu21.csv
cuv21.csv
cux21.csv
cuz21.csv
cuf22.csv
cug22.csv
cuh22.csv
cuj22.csv
cuk22.csv
cum22.csv
cun22.csv
cuq22.csv
cuu22.csv
cuv22.csv
cux22.csv
cuz22.csv
cuf23.csv
cug23.csv
cuh23.csv
cuj23.csv
cuk23.csv
cum23.csv
cun23.csv
cuq23.csv
cuu23.csv
cuv23.csv
cux23.csv
cuz23.csv

In [5]:
# Step 3: Process and join data from other DataFrames
years = ['19', '20', '21', '22', '23']
months = ['f', 'g', 'h', 'j', 'k', 'm', 'n', 'q', 'u', 'v', 'x', 'z']

for year in years:
    for month in months:
        name = f'cu{month}{year}'
        file_name = f'{name}.csv'
        
        if file_name in csv_files:
            df = pd.read_csv(os.path.join(folder_path, file_name), usecols=['Time', 'Last'], engine = "python", skipfooter=1)
            df.rename(columns={'Last': name}, inplace=True)
            
            
            # Full Outer Join with "palm_futures" DataFrame
            palm_futures = pd.merge(palm_futures, df, on='Time', how='outer')

# Display the resulting DataFrame
print(palm_futures)

            Time   cuf19   cug19   cuh19   cuj19   cuk19   cum19   cun19  \
0     01/31/2019  538.75  562.75  568.50  569.25  568.75  568.75  566.75
1     01/30/2019  538.75  560.50  566.00  566.25  565.75  565.50  565.25
2     01/29/2019  538.50  558.50  564.25  565.25  565.25  563.50  563.25
3     01/28/2019  539.75  565.25  569.50  569.50  568.25  568.00  567.50
4     01/25/2019  537.50  555.25  560.75  562.25  561.75  561.50  561.75
...          ...     ...     ...     ...     ...     ...     ...     ...
1734  08/07/2023     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1735  08/04/2023     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1736  08/03/2023     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1737  08/02/2023     NaN     NaN     NaN     NaN     NaN     NaN     NaN
1738  08/01/2023     NaN     NaN     NaN     NaN     NaN     NaN     NaN

       cuq19   cuu19  ...   cux22   cuz22   cuf23   cug23   cuh23   cuj23  \
0     566.50  567.00  ...  557.50  556.75  556.00  555.25  554.50  553.75
1     564.50  564.00  ...  553.00  552.25  551.50  550.75  550.00  549.25
2     561.75  561.25  ...  553.50  552.75  552.00  551.25  550.50  549.75
3     565.25  565.50  ...  571.50  570.75  570.00  569.25  568.50  567.75
4     560.50  559.75  ...  549.25  548.50  547.75  547.00  546.25  545.50
...      ...     ...  ...     ...     ...     ...     ...     ...     ...
1734     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
1735     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
1736     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
1737     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
1738     NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

       cuk23   cum23   cun23   cuq23
0     553.00  552.25  551.50  550.75
1     548.50  547.75  547.00  546.25
2     549.00  548.25  547.50  546.75
3     567.00  566.25  565.50  564.75
4     544.75  544.00  543.25  542.50
...      ...     ...     ...     ...
1734     NaN     NaN     NaN  836.00
1735     NaN     NaN     NaN  851.75
1736     NaN     NaN     NaN  843.25
1737     NaN     NaN     NaN  865.00
1738     NaN     NaN     NaN  859.50

[1739 rows x 57 columns]

In [6]:
# Step 4: Adjust datetime and sort

# Adjust "Time" column to actual datetime
palm_futures["Time"] = pd.to_datetime(palm_futures["Time"], format = "%m/%d/%Y")

# Sort columns by date
palm_futures = palm_futures.sort_values(by='Time')



palm_futures

,Time,cuf19,cug19,cuh19,cuj19,cuk19,cum19,cun19,cuq19,cuu19,...,cux22,cuz22,cuf23,cug23,cuh23,cuj23,cuk23,cum23,cun23,cuq23
592,2016-09-22,621.50,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,2016-09-23,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,617.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,2016-09-26,614.25,613.50,612.75,612.00,611.25,610.50,609.75,609.00,608.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,2016-09-27,609.50,609.00,608.50,608.00,607.50,607.00,606.50,606.00,605.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,2016-09-28,600.00,599.25,598.50,597.75,597.00,596.25,595.50,594.75,594.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1728,2023-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825.25
1727,2023-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,828.50
1726,2023-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.75
1725,2023-08-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,831.50
1724,2023-08-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,836.00

In [8]:
palm_futures.to_csv("palm_futures.csv")

In [9]:
palm_futures.head(50)

,Time,cuf19,cug19,cuh19,cuj19,cuk19,cum19,cun19,cuq19,cuu19,...,cux22,cuz22,cuf23,cug23,cuh23,cuj23,cuk23,cum23,cun23,cuq23
592,2016-09-22,621.50,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,2016-09-23,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,617.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,2016-09-26,614.25,613.50,612.75,612.00,611.25,610.50,609.75,609.00,608.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,2016-09-27,609.50,609.00,608.50,608.00,607.50,607.00,606.50,606.00,605.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,2016-09-28,600.00,599.25,598.50,597.75,597.00,596.25,595.50,594.75,594.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,2016-09-29,605.75,605.00,604.25,603.50,602.75,602.00,601.25,600.50,599.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,2016-09-30,612.00,611.50,611.00,610.50,610.00,609.50,609.00,608.50,608.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,2016-10-03,613.75,613.00,612.25,611.50,610.75,610.00,609.25,608.50,607.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,2016-10-04,607.00,606.25,605.50,604.75,604.00,603.25,602.50,601.75,601.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,2016-10-05,604.50,604.00,603.50,603.00,602.50,602.00,601.50,601.00,600.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,2016-10-06,607.50,606.75,606.00,605.25,604.50,603.75,603.00,602.25,601.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,2016-10-07,616.50,617.00,617.50,618.00,618.50,619.00,619.50,620.00,620.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,2016-10-10,614.00,614.75,615.50,616.25,617.00,617.75,618.50,619.25,620.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,2016-10-11,623.25,623.75,624.25,624.75,625.25,625.75,626.25,626.75,627.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,2016-10-12,629.25,630.00,630.75,631.50,632.25,633.00,633.75,634.50,635.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,2016-10-13,623.50,624.00,624.50,625.00,625.50,626.00,626.50,627.00,627.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,2016-10-14,628.00,628.50,629.00,629.50,630.00,630.50,631.00,631.50,632.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,2016-10-17,647.00,647.50,648.00,648.50,649.00,649.50,650.00,650.50,651.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,2016-10-18,639.50,640.00,640.50,641.00,641.50,642.00,642.50,643.00,643.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,2016-10-19,642.50,643.00,643.50,644.00,644.50,645.00,645.50,646.00,646.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,2016-10-20,636.25,636.25,636.25,636.25,636.25,636.25,636.25,636.25,636.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,2016-10-21,635.00,634.75,634.50,634.25,634.00,633.75,633.50,633.25,633.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,2016-10-24,649.50,648.25,647.00,645.75,644.50,643.25,642.00,640.75,639.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,2016-10-25,636.25,635.00,633.75,632.50,631.25,630.00,628.75,627.50,626.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,2016-10-26,643.75,642.50,641.25,640.00,638.75,637.50,636.25,635.00,633.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,2016-10-27,634.75,633.25,631.75,630.25,628.75,627.25,625.75,624.25,622.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,2016-10-28,637.25,636.00,634.75,633.50,632.25,631.00,629.75,628.50,627.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,2016-10-31,631.25,630.00,628.75,627.50,626.25,625.00,623.75,622.50,621.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,2016-11-01,629.00,628.25,627.50,626.75,626.00,625.25,624.50,623.75,623.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,2016-11-02,632.50,632.00,631.50,631.00,630.50,630.00,629.50,629.00,628.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,2016-11-03,629.00,628.00,627.00,626.00,625.00,624.00,623.00,622.00,621.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,2016-11-04,628.00,627.50,627.00,626.50,626.00,625.50,625.00,624.50,624.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560,2016-11-07,634.00,633.25,632.50,631.75,631.00,630.25,629.50,628.75,628.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559,2016-11-08,645.25,644.50,643.75,643.00,642.25,641.50,640.75,640.00,639.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,2016-11-09,638.00,637.50,637.00,636.50,636.00,635.50,635.00,634.50,634.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,2016-11-10,637.25,636.50,635.75,635.00,634.25,633.50,632.75,632.00,631.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,2016-11-11,611.75,610.50,609.25,608.00,606.75,605.50,604.25,603.00,601.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,2016-11-14,598.75,597.50,596.25,595.00,593.75,592.50,591.25,590.00,588.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,2016-11-15,594.25,593.25,592.25,591.25,590.25,589.25,588.25,587.25,586.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,2016-11-16,602.00,601.00,600.00,599.00,598.00,597.00,596.00,595.00,594.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,2016-11-17,606.50,605.75,605.00,604.25,603.50,602.75,602.00,601.25,600.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,2016-11-18,635.25,636.50,637.75,639.00,640.25,641.50,642.75,644.00,645.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,2016-11-21,614.25,613.75,613.25,612.75,612.25,611.75,611.25,610.75,610.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,2016-11-22,611.50,610.75,610.00,609.25,608.50,607.75,607.00,606.25,605.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,2016-11-23,600.75,599.75,598.75,597.75,596.75,595.75,594.75,593.75,592.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,2016-11-25,613.25,612.00,610.75,609.50,608.25,607.00,605.75,604.50,603.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,2016-11-28,623.75,622.75,621.75,620.75,619.75,618.75,617.75,616.75,615.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,2016-11-29,624.00,623.25,622.50,621.75,621.00,620.25,619.50,618.75,618.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,2016-11-30,626.75,626.00,625.25,624.50,623.75,623.00,622.25,621.50,620.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,2016-12-01,632.75,632.00,631.25,630.50,629.75,629.00,628.25,627.50,626.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN