# FRE 501 Assignment 1: Part B

In [2]:
# import needed packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# column format data

# load url and adjust as path
url = "https://drive.google.com/file/d/18SdzXz7w9a4yEIEsfrvF2dXTmLDJ-pSF/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]

# import then open first rows
palm_futures_months = pd.read_csv(path)
palm_futures_months.head(30)

,trade_day,cuf19,cug19,cuh19,cuj19,cuk19,cum19,cun19,cuq19,cuu19,...,cux22,cuz22,cuf23,cug23,cuh23,cuj23,cuk23,cum23,cun23,cuq23
0,1,523.50,562.75,537.50,518.50,507.00,484.75,474.00,498.25,516.25,...,897.00,926.50,964.50,897.25,929.50,868.50,747.25,711.75,852.75,859.50
1,2,519.25,563.75,528.00,526.75,491.25,491.75,475.25,496.75,519.00,...,928.75,901.75,945.25,887.50,955.50,888.75,762.25,734.75,833.00,865.00
2,3,524.50,563.75,530.25,531.75,485.50,491.75,472.75,501.25,520.25,...,917.25,911.75,931.00,902.25,967.75,870.50,762.50,734.75,839.50,843.25
3,4,524.75,563.75,528.25,538.25,479.25,491.75,474.00,501.25,525.25,...,923.50,934.25,925.25,902.25,955.75,859.75,762.50,721.25,826.25,851.75
4,5,528.75,567.00,524.00,542.00,490.75,487.75,470.25,501.25,525.25,...,935.25,908.50,941.75,913.50,940.00,858.25,799.50,721.00,840.50,836.00
5,6,529.00,562.75,521.50,536.00,490.25,480.75,469.75,508.00,529.75,...,923.25,902.75,921.00,925.50,929.25,863.75,830.00,710.75,835.25,818.50
6,7,527.00,558.25,520.75,538.25,484.25,483.00,469.00,515.25,526.50,...,898.75,913.25,908.25,919.75,931.25,849.00,832.00,727.50,842.00,830.50
7,8,528.50,555.00,521.00,531.00,480.00,476.25,471.00,515.25,524.25,...,898.25,870.00,909.50,909.25,913.75,843.75,816.75,723.50,839.00,824.50
8,9,523.25,555.50,516.50,527.25,480.00,482.50,472.25,519.75,525.25,...,922.75,888.50,903.50,904.25,908.50,842.00,798.75,732.50,849.75,822.75
9,10,524.50,559.75,513.00,528.00,484.25,482.50,474.50,521.25,525.25,...,907.25,899.25,898.75,909.75,901.75,846.75,802.25,736.50,851.25,816.75
10,11,527.25,555.00,513.00,526.00,485.50,485.25,477.25,514.75,536.75,...,896.50,890.75,905.25,904.75,906.75,859.75,794.50,743.50,849.00,825.25
11,12,530.00,556.00,517.75,529.50,494.00,483.50,477.75,517.50,533.50,...,898.50,891.50,908.25,915.75,899.50,856.25,787.25,770.50,849.00,828.50
12,13,532.75,555.50,521.00,531.50,493.75,486.25,477.50,514.25,531.25,...,880.00,893.00,910.25,919.75,899.75,854.50,782.75,767.50,861.25,835.75
13,14,535.50,557.25,524.25,529.00,493.75,485.00,476.50,515.75,530.00,...,880.00,887.00,910.25,920.75,887.50,854.50,778.00,758.25,860.25,831.50
14,15,536.75,556.25,525.50,528.75,489.25,485.00,477.25,519.00,527.75,...,878.50,893.50,910.25,920.75,887.50,854.50,784.50,755.25,867.50,836.00
15,16,537.75,554.00,525.00,528.75,489.25,483.75,478.75,522.75,524.25,...,889.50,889.75,902.75,925.50,878.25,850.75,781.00,757.25,862.50,NaN
16,17,537.50,552.75,523.25,528.75,485.50,483.00,480.25,522.75,524.25,...,896.00,886.25,905.00,924.25,874.00,847.50,776.25,761.00,862.50,NaN
17,18,539.75,551.25,523.00,528.25,485.25,482.00,481.75,522.50,525.00,...,901.75,898.25,910.25,924.00,871.00,844.75,776.75,760.00,862.25,NaN
18,19,538.50,551.00,523.00,526.75,488.00,482.00,482.00,521.25,524.50,...,901.75,897.50,911.00,923.00,874.00,843.25,780.00,761.75,861.50,NaN
19,20,538.75,NaN,522.50,526.75,489.25,482.00,481.00,521.75,524.25,...,901.25,897.75,909.25,NaN,879.50,NaN,782.25,761.75,860.25,NaN
20,21,538.75,NaN,522.25,526.50,488.75,NaN,481.00,520.75,NaN,...,901.50,898.75,NaN,NaN,880.00,NaN,779.25,762.00,NaN,NaN
21,22,NaN,NaN,NaN,NaN,488.50,NaN,481.00,521.00,NaN,...,NaN,NaN,NaN,NaN,881.25,NaN,777.25,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,881.00,NaN,NaN,NaN,NaN,NaN

This time, we have each month's trading days until the contract ends as a column, aligned with the `trade_day` variable.

You will be calculating monthly profits by subtracting each month's first value from its last. 

Then, you'll aggregate these by year (2019, 2020, 2021, 2022, 2023), and overall (2019-2023). Display these in a bar chart.

### (i): Calculating monthly profits

As you can see, the months have different numbers of trading days due to varying lengths and the presence of weekends. You'll need a consistent way to access the first (easy) and last (not as easy) day of each month.

Then subtract the first from the last, and save this monthly profit value. Make sure you have a way to associate the months of each year with each other!

You might want to use a loop to make this easier.

### (ii): Aggregating by Year and Overall

Now, add together all profit/loss values for 2019, 2020, 2021, 2022, and 2023 separately. 

And, then add all of these together to get overall profit.

### (iii): Plotting

With your 2019-2023 and total profit values, make a bar plot using Matplotlib, Seaborn, or another Python data visualization method.