# FRE 501 Assignment 1: Part C

In Part B, we calculated annual roll yield by taking the within-month price changes and adding them up. 

In Part C, we will use a different method of calculating annual roll yield. Here, we will take our overall values, and subtract the "cumulative gap" to get our profit. We did this for you, by subtracting the gaps between the starting day of each month and the last day of the prior month

In [1]:
# import needed packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### (i): Data Import

In [5]:
# palm forward curve data

# load url and adjust as path
url = "https://drive.google.com/file/d/1zS3nRVeqxTyd9e4-XwSoAwvQCYmp2VCk/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]

# import then open first rows
palm_futures = pd.read_csv(path, sep = "\t") 
palm_futures.head()

         Time  future_price
0  2016-09-22        621.50
1  2016-09-23        621.00
2  2016-09-26        614.25
3  2016-09-27        609.50
4  2016-09-28        600.00

In [6]:
palm_futures.tail()

            Time  future_price
1734  2023-08-15        825.25
1735  2023-08-16        828.50
1736  2023-08-17        835.75
1737  2023-08-18        831.50
1738  2023-08-21        836.00

In [7]:
# cumulative gap data

url = "https://drive.google.com/file/d/1t-rW7-_mAGQGK1PudTOFhtVB34KBttQC/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]


# import cumulative gap then open first rows
cumulative_gap = pd.read_csv(path)
cumulative_gap.drop("Unnamed: 0", axis = 1, inplace=True)
cumulative_gap.head()

         Time    Month  cum_gap
0  2019-01-02  2019-01      0.0
1  2019-01-03  2019-01      0.0
2  2019-01-04  2019-01      0.0
3  2019-01-07  2019-01      0.0
4  2019-01-08  2019-01      0.0

In [8]:
cumulative_gap.tail()

            Time    Month  cum_gap
1162  2023-08-15  2023-08   -70.75
1163  2023-08-16  2023-08   -70.75
1164  2023-08-17  2023-08   -70.75
1165  2023-08-18  2023-08   -70.75
1166  2023-08-21  2023-08   -70.75

### (ii): Data Join

As you can see above, the `palm_futures` and `cumulative_gap` DataFrames cover different time periods, with `palm_futures` starting back in 2016 while `cumulative_gap` starts only in 2019. We'll use this as an opportunity to learn how to Join dataframes. 

Sometimes, different datasets will be exactly the same length and have data aligned perfectly in order. If you're very sure, you can just assign the new data as a column in the existing DataFrame.

But this is not always the case; and sometimes you'll have a smaller dataset where each row applies to multiple rows, or just one, or none at all, in the main DataFrame. This is where the Pandas `.join()` and `pd.merge()` come in.

`pd.merge()` takes two DataFrames, and the `on` argument. `on` must be a column with the same name in each DataFrame. `pd.merge()` puts the two datasets together into one, where rows with the same value in the `on` column are matched horizontally. 

`.join()` works similarly, but is a bit simpler, focused on joining DataFrames based on their index. You call it in the form `df_1.join(other = df2, on = "column")`, to Join `df2` onto `df1`. By default, it joins on the index of both, and you may want to use `.set_index("column")` on the dataframes while calling this function.


Either of these can work, but I'd recommend you use `merge()` for this case. 

### Create a new dataframe, and use `pd.merge()` or `.join()` to join `palm_futures` and `cumulative_gap` to get a dataframe with both data series.

In [5]:
# pd.merge() baseline

# pd.merge(df1, df2, on = "column")

In [6]:
# .join() baseline

# df1.set_index("column").join(df2.set_index("column"), on = "column")

Depending on your method, you may end up including values from before 2019. We have not calculated cumulative gap values before this time, so make sure to drop any values before 2019 if you need!

The pandas `pd.to_datetime(df["column"])` function can help, which turns the given column (like "Time") into a DateTime format. This lets us do things like filtering for values before 2019 through boolean comparisons in conditional formatting.

In [7]:
# to_datetime() example if needed

# df["column"] = pd.to_datetime(df["column"])

### (iii): Calculating Synthetic Curve

With your joined dataframe, you can now subtract the cumulative month gaps from the price series, to get us our Synthetic Curve. Do this below:

In [8]:
# calculate synthetic curve with column operation

### (iv): Calculating Yearly Profits

Now, take the first and last values of each year, and subtract the former from the latter. This should give yearly and total profit values equal to what we found in Part B.

#### Hint!

If you create a variable for year, with existing columns, you can use a `.groupby("column")` command and the `.first()` and `.last()` functions to easily get yourself the first and last values of each year.

You could also split the dataframe by year and use `.iloc[]`

In [9]:
# make calculations

###  (v): Display Profits

Display the yearly and total profits, either with print statements or a bar plot.