# FRE 501 Assignment 1: Part A

In this first part of Assignment 1, you will be analyzing a DataFrame containing palm oil futures contracts from 2019-2023. 

Each column is a specific contract, for a palm future with a given delivery date, while each row represents one trading day. Because the month columns are in chronological order from left to right, slicing out one row gives us the path of palm oil future prices, known as the "Forward Curve."

Using this data, you will slice out specific days from each year, and then plot these Forward Curves to visually estimate if the market is in Contango (with rising futures prices) or Backwardation (declining futures prices).

In [9]:
# import needed packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### (i): Data Import

In [11]:
# palm forward curve data

# load url and adjust as path
url = "https://drive.google.com/file/d/1utmW8amlpxSsz1v4GBnf8nefqo9oDEds/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]

# import then open first rows
palm_futures = pd.read_csv(path)
palm_futures.drop("Unnamed: 0", axis = 1, inplace = True)
palm_futures.head()

,Time,cuf19,cug19,cuh19,cuj19,cuk19,cum19,cun19,cuq19,cuu19,...,cux22,cuz22,cuf23,cug23,cuh23,cuj23,cuk23,cum23,cun23,cuq23
0,2016-09-22,621.50,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-09-23,621.00,620.50,620.00,619.50,619.00,618.50,618.00,617.50,617.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-09-26,614.25,613.50,612.75,612.00,611.25,610.50,609.75,609.00,608.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-09-27,609.50,609.00,608.50,608.00,607.50,607.00,606.50,606.00,605.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-09-28,600.00,599.25,598.50,597.75,597.00,596.25,595.50,594.75,594.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As you can see, each row is one trading day. The columns correspond to the commodity (`cu`), the month of expiration (the middle letter, like `f` for January), and the year of expiration (e.g. `19` for 2019).

So, `cuf19` means "Palm oil, in January, 2019".

### (ii): Filtering

Using the conditional filtering we learned in the Python summer workshops, create DataFrames for March and September 15th in each year.

- the 15th of the month may be a weekend, so in that case use the nearest available day
- 2023 doesn't have September data, so just take March for this year

### (iii): Transformation

Transform the data so that the column names are trading dates, and the row names are the number of months to expiration. This may involve:

- Row selection
- Transposing the data (done with `.T`)
- Removal of NaN values

Finally, end each variable after 12 observations, or as many are available.

### (iv): Setting relative to 0

For each column, take its first observation and subtract this from all rows in the column. This should set the first row to zero, and all others to their difference from the first row. 

#### Hint!
This can be done with column operations and `.iloc[]` selection, or just observation of the first column value.

### (v): Plotting Forward Curves

With these data columns, make a plot for each year, from 2019 to 2023. Each year plot will contain a line plot of the forward curves observed in March and September (if available).

I'd recommend using Matplotlib for this. You might use the following as a skeleton for your plot, inputting arguments as needed:

#### Set up plot
`plt.figure()`
`plt.title()`
`plt.xlabel()`
`plt.ylabel()`

#### Plot input data series
`plt.plot()`
    
#### Display the plot
`plt.legend()`
`plt.show()`



#### Stretch Goal

For experienced programmers looking for a challenge, try creating the plots in a loop format to iterate through each year and plot the data for it. Or, try making a general function where you input the year and needed datasets and it makes all needed adjustments.

### (vi): Visual Analysis

Create a table, or write in note form below, your assessment of if the market is in Contango, Backwardation, or Ambiguous states in each month and year.