# FRE 501 Assignment 1: Part D

Recall the Roll Yield Myth: that a buy-and-hold trading strategy causes instantaneous negative profits when the market is in Contango (with rising futures prices) and positive profits in Backwardation (with falling futures prices).

In **Part A**, we  analyzed which years the market appeared to be in Contango, Backwardation, or ambiguous. 

In **Part B**, we calculated true yearly profits by totalling in-month, "true" profit values.

In **Part C**, we calculated true yearly profits again by removing the cumulative monthly gaps from the observed market prices. This result was equal to what we found in Part B.

Now, let's bring it all together. Is there any evidence that the continuous buy-and-hold strategy tends to cause negative profits when the market is in Contango, and positive profits in Backwardation?


To answer this, we will do two approaches, one simple and one complex.

1. Marking years as a whole as being in Contango, Backwardation, or Neither, correlate this with yearly profits.

2. Calculate the correlation of monthly profits with monthly price gap.

In [8]:
# import needed packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data Import

We'll be bringing in two DataFrames for this assignment. As well, you'll create two `pd.Series` data types of your own, based on your own observations.

In [18]:
# gap data import

# load url and adjust as path
url = "https://drive.google.com/file/d/1pbd1Si8yZiMIOeTiciaJ9H9SIyoU823e/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]

# import then open first rows
gap = pd.read_csv(path)
gap.head()

     Month    gap
0  2019-01   0.00
1  2019-02  24.00
2  2019-03 -13.50
3  2019-04  -3.75
4  2019-05 -19.50

In [19]:
# month start and end values import
# 
# https://drive.google.com/file/d/1RxG1HyhXf-LJI5Q0jsJtwLy2fnzzSF_6/view?usp=sharing

url = "https://drive.google.com/file/d/1RxG1HyhXf-LJI5Q0jsJtwLy2fnzzSF_6/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split('/')[-2]

# import then open first rows
month_start_end = pd.read_csv(path)
month_start_end.head()

     Month  month_start  month_end
0  2019-01       523.50     538.75
1  2019-02       562.75     551.00
2  2019-03       537.50     522.25
3  2019-04       518.50     526.50
4  2019-05       507.00     488.50

### (i): A simple approach

First, create a list called `year_profits`, equal to the profit or negative profits for each year that we calculated in Parts B and C.

Then, create a list called `year_status`, then look back at the plots you made for Part A of the assignment. In order, add one of the following values:
- 1 if the given year is in Contango
- 0 if the given year's direction is ambiguous
- -1 if the given year is in Backwardation

Judgements may vary, and that's OK! 


For an example, say that 2019 made -1 profit, 2020 made 100 profit, and 2021 made 293 in profits. Then I'd assign this variable as:

`year_profits = [-1, 100, 293]` 

If I believed 2019 was in Backwardation, 2020 was in Contango, and 2021 was Ambiguous, I'd assign `year_status` as:

`year_status = [1, -1, 0]`

Assign your variables below.

In [11]:
# assign year_profits



# assign year_status

Now, pass these into `pd.Series()` to transform them into the Pandas `Series` datatype, so we can calculate their correlation. Just reassign them as their own names.

In [12]:
# assign Series values
# var = pd.Series(var)

Now you can calculate the correlation of year profits with year status with `series_1.corr(series_2)`

Explain your result. 

- What is the interpretation of the coefficient and its direction? 

- What does this suggest about the Roll Yield Myth?

- Is this strong or weak evidence? Why?

Write your answer below:

### (ii): A better approach

Now we will use the data we imported above, `month_start_end` and `gap`. Let's call `.head()` to remind ourselves what's in these DataFrames:

In [13]:
month_start_end.head()

     Month  month_start  month_end
0  2019-01       523.50     538.75
1  2019-02       562.75     551.00
2  2019-03       537.50     522.25
3  2019-04       518.50     526.50
4  2019-05       507.00     488.50

In [14]:
gap.head()

     Month    gap
0  2019-01   0.00
1  2019-02  24.00
2  2019-03 -13.50
3  2019-04  -3.75
4  2019-05 -19.50

These are at the Month level. `month_start_end` has the first and last values in each month of data, while `gap` has the gap between that month's starting values and the previous month's ending value. 

Your directions are to do the following:

1. Join or Merge the datasets together, on the `Month` column.
2. Calculate within-month profits.
3. Calculate the correlation of month profits and `gap`, and display it in the notebook.

In [15]:
# join or merge

In [16]:
# calculate within-month profits

In [17]:
# calculate and display monthly profits~gap correlation

Discuss your results in this section. 

- Do they match the results in the "simple approach" section?

- Do they provide evidence for, or against, the Roll Yield Myth? How strong is this evidence?

- In total, what is your assessment based on our results? Do you think we have sufficient evidence to conclude either way?

Write your answers to these questions below: